@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
--Purple_600: hsl(238, 40%, 52%);
--Pink_400: hsl(358, 79%, 66%);
--Purple_200: hsl(239, 57%, 85%);
--Pink_200: hsl(357, 100%, 86%);

--Grey_800: hsl(212, 24%, 26%);
--Grey_500: hsl(211, 10%, 45%);
--Grey_100: hsl(223, 19%, 93%);
--Grey_50: hsl(228, 33%, 97%);
--White: hsl(0, 100%, 100%);

--Font: 'Rubik', sans-serif;
}
*{
  padding: 0%;
  margin: 0%;
}
body, html, #root{
  width: 100%;
  height: 100%;
}
body{
  font-family: var(--Font);
  font-size: 16px;
  display: flex;
  background-color: var(--Grey_50);
  box-sizing: border-box;
}
main{
  flex: 1;
  margin: auto;
  width: 92%;
  margin-top: 2em;
  max-width: 710px;
}
.sr-only{
  display: none;
}

.cardButton{
    background-color: var(--Purple_600);
    border: none;
    color: var(--White);
    text-transform: uppercase;
    padding: 0.9em 1.4em;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.1em;
}
.cardButton:hover{
    opacity: 0.7;
}
.cardIsReply{
    width: 85%;
    margin-left: auto;
}
.cardIsReply::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--Grey_100);
}
.card{
  position: relative;
}
textarea{
   border: 1px solid var(--Purple_600);
  padding: 0.7em;
  border-radius: 10px;
  cursor: pointer;
}
textarea:focus-visible{
  outline: none;
  border-width: 2px;
  box-shadow: 0 0 0 2px var(--Grey_100);
}
.sub_footer{
  margin: 0.5em 0em;
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
 letter-spacing: 0.1em;
  color: var(--Purple_600);
}
.sub_footer a{
  color: var(--Pink_400);
}