.header{
    position: relative;
    min-height: 360px;
    height: 100%;
}
.header nav ul li{
    font-weight: 600;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bgDark{
    background-color: rgba(0, 0, 0, 0.513);
}