.replyForm{
    display: flex;
    align-items: start;
    gap: 0.9em;
    padding: 1em;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 2px 3px 4px var(--Grey_100);
}
.replyForm textarea{
    width: 100%;
    padding: 1em;
}
.replyImg{
    width: 40px;
    height: 40px;
}