.delete{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    background-color: var(--White);
    box-shadow: 1px 1px 5px hsla(212, 24%, 26%, 0.547);
    border-radius: 10px;
    width: 92%;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
}
.background{
    background-color: hsla(214, 26%, 5%, 0.482);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 4;
    position: fixed;
}
.delete h2{
    color: var(--Grey_800);
    font-weight: 500;
    font-size: 1.25em;
}
.delete > p{
   color: var(--Grey_500);
   line-height: 1.4em;
}
.delete small{
    font-size: 0.8em;
    color: rgba(128, 128, 128, 0.624);
}
.containerButtons{
    display: flex;
    justify-content: space-between; 
}

.containerButtons button{
    border: none;
    color: var(--White);
    text-transform: uppercase;
    padding: 1em 1.3em;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.containerButtons button:hover{
    opacity: 0.7;
}
.containerButtons .cancel{
    background-color: var(--Grey_500);
}
.containerButtons .confirm{
    background-color: var(--Pink_400);
}

@media (min-width:768px) {
    .delete h2{
    font-size: 1.5em;
}
.containerButtons button{
    width: 48%;
}
}